@import '~bulma';

body {
  background: #d8d7d7;
  min-height: 100vh;
}

h2 {
  color: #8b724a;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.header {
  padding: 25px 0;
}

.logo {
  // margin-bottom: 25px;
}